@import url('https://fonts.googleapis.com/css?family=Marck+Script|Montserrat&display=swap');

$color-primary-light: #045757;
$color-primary-dark: #044343;
$color-primary-light: #169b71;
$color-primary-dark: #1f7356;
$color-dark: #222222;
$color-light: #e4e4e4;
$color-warning: #C03D29;

$font-cursive: 'Marck Script', cursive;
$font-sans: 'Montserrat', sans-serif;
