@import url("https://fonts.googleapis.com/css?family=Marck+Script|Montserrat&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  color: #169b71;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

a,
a:visited {
  color: #169b71;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  padding: 1rem;
  text-align: center;
}

figure {
  padding: 0;
  margin: 0;
}

.container {
  padding: 1em;
}

.shadow {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.btn {
  width: 8em;
  height: 2em;
  line-height: 2em;
  padding: 0.3em;
  text-align: center;
  background-color: #169b71;
  color: #e4e4e4;
  border-radius: 0.3em;
  font-size: 1.1em;
  text-transform: uppercase;
}

.select-dropdown {
  width: 100%;
  margin: 0 auto 0.5em;
  display: block;
  height: 2em;
  font-size: 1.1em;
}

textarea {
  width: 100%;
  height: 6em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
}

.disabled {
  opacity: 0.4;
}

#warning {
  margin: 1em auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #C03D29;
}

.hidden {
  display: none !important;
}

@media (min-width: 768px) {
  .container {
    padding: 2em;
  }
}

nav {
  margin: 1em auto 2em;
}

nav a {
  padding: 0;
  margin: 1em;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  font-size: 1.6em;
  font-weight: bold;
}

nav .links {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

nav .links form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

nav .links form div {
  font-size: 0.9em;
  background-color: #169b71;
  color: #e4e4e4;
  padding: 0.5em 1em;
  margin: 0.5em;
  border-radius: 0.2em;
}

.header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  nav a {
    font-size: 2em;
  }
  nav .links form div {
    font-size: 1.2em;
    margin: 1em;
  }
}

#cover {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -5;
}

#cover video {
  min-height: 100%;
  min-width: 100%;
}

#quotes-display #filter-grp {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#quotes-display .select-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin: 0 auto 2em;
  max-width: 400px;
}

#quotes-display .select-container .select-wrapper {
  width: 85%;
  margin: auto;
}

#quotes-display .select-container .btn-clear {
  width: 100%;
  padding: 0;
}

#quotes-display .select-container .toggle-btn {
  margin-top: 0.5em;
}

#quotes-display .select-container .textarea {
  width: 100%;
  overflow-x: hidden;
}

#quotes-display .select-container .cancel-btn {
  background-color: #d7f93b;
  color: #222222;
}

#quotes-display #quote-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

#quotes-display #quote-container .quote-container .card {
  padding: 0.5em 1em;
  margin: 1em auto 2em;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  display: inline-block;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: .3em;
}

#quotes-display #quote-container .quote-container .card blockquote {
  font-size: 1.7em;
  margin: 0em;
  padding: 0.5em;
  font-family: "Marck Script", cursive;
}

#quotes-display #quote-container .quote-container .card p {
  display: block;
  text-align: right;
  font-size: 0.9em;
  font-style: italic;
}

#quotes-display #quote-container .bottom-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#quotes-display #quote-container .bottom-row .btn-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

#quotes-display #quote-container .bottom-row .btn-group .btn {
  font-size: 0.8em;
  padding: 0.5em;
}

#quotes-display #quote-container .bottom-row .btn-group .approve-btn {
  margin-right: 1em;
}

#quotes-display #quote-container .delete-btn {
  background-color: #C03D29;
}

#quotes-display #submit-grp {
  display: none;
}

#quotes-display #no-match {
  text-align: center;
}

footer {
  text-align: center;
  padding: 0.5em;
}

#login h1 {
  text-align: center;
}

#login .grid-form {
  width: 100%;
}

#login .grid-form .login-card {
  width: 300px;
  margin: auto;
}

#login .grid-form .login-card .grid-form-group {
  width: 100%;
}

#login .grid-form .login-card .grid-form-group input {
  margin: auto;
  display: block;
}

#login .grid-form .submit-button button {
  margin: auto;
  display: block;
  border: none;
  height: unset;
}

@media (min-width: 1024px) {
  #quotes-display #quote-container {
    max-width: 1200px;
    -webkit-columns: 2;
            columns: 2;
  }
}
